{% from 'message_box.html' import message_box %}

{% call message_box('highlight', fixed_width=true) %}
    {% trans -%}
        This preview is only shown for a dummy registration.<br>
        When sending the emails, registrant will receive an email
        customized with the data of their registration.
    {%- endtrans %}
{% endcall %}
<span class="ui label basic blue">{{ type }}</span>
<h2>{{ title }}</h2>
<strong>{% trans %}Subject{% endtrans %}</strong>
<pre class="mono">{{ subject | forceescape }}</pre>
<br>
<strong>{% trans %}Body{% endtrans %}</strong>
<div>{{ body }}</div>
