{% extends 'registration/management/_regform_base.html' %}
{% from 'message_box.html' import message_box %}
{% from 'registration/management/_regform.html' import render_regform_event_features_top, render_regform_event_features_bottom %}

{# TODO check later if this message box should be imported here or inside indico/modules/categories/templates/management/base.html  #}

{% block content %}
    {% if event is defined %}
        {{ render_regform_event_features_top(regform) }}
    {% endif %}

    {% block regform_setup_box %}
        <div class="action-box">
            <div class="section">
                <div class="icon icon-settings"></div>
                <div class="text">
                    <div class="label">
                        {% trans %}General Settings{% endtrans %}
                    </div>
                    {% trans %}Edit settings for this form.{% endtrans %}
                </div>
                <div class="toolbar">
                    <a href="{{ url_for('.edit_regform', regform) }}" class="i-button icon-edit">
                        {% trans %}Edit{% endtrans %}
                    </a>
                </div>
            </div>

            <div class="section">
                <div class="icon icon-clipboard"></div>
                <div class="text">
                    <div class="label">
                        {% trans %}Registration Form{% endtrans %}
                    </div>
                    {% trans %}Add, remove or modify information registrants may fill out.{% endtrans %}
                </div>
                <div class="toolbar">
                    <a href="{{ url_for('.modify_regform', regform) }}" class="i-button icon-settings">
                        {% trans %}Configure{% endtrans %}
                    </a>
                </div>
            </div>

            <div class="section">
                <div class="sui-icon-wrapper">
                    <i class="icon balance scale"></i>
                </div>
                <div class="text">
                    <div class="label">
                        {% trans %}Privacy settings{% endtrans %}
                    </div>
                    {% trans %}Choose who can see the participants of this registration form.{% endtrans %}
                </div>
                <div class="toolbar">
                    <a href="{{ url_for('.manage_registration_privacy_settings', regform) }}" class="i-button icon-settings">
                        {% trans %}Configure{% endtrans %}
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}
    {% if event is defined %}
        {{ render_regform_event_features_bottom(regform, event) }}
    {% endif %}

{% endblock %}
